.homeContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--material-theme-ref-neutral-neutral17, #2A2A2D);
    width: 100vw;
    height: auto;
    margin: 0 auto;
    padding: 71px 144px;
    color: white;
    font-family: 'Helvetica Neue', sans-serif;
  }
  
  .homeContainer.smallScreen {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
  }
  
  .headerContainer {
    flex: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 509px;
    align-items: flex-start;
  }
  
  .headerContainer.smallScreen {
    width: 100%;
    padding: 0 20px;
  }
  
  .headerContainer.mediumScreen {
    width: 60%;
  }
  
  .welcomeText {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 4px;
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    line-height: 24px;
    letter-spacing: 0.15px;
  }
  
  .welcomeText.smallScreen {
    font-size: 14px;
  }
  
  .title {
    font-size: 57px;
    font-weight: 500;
    letter-spacing: -2.28px;
    margin-bottom: 0px;
    position: relative;
    color: #FFF;
    font-family: 'Helvetica Neue';
    font-style: normal;
    line-height: 74.5%; /* 42.465px */
  }
  
  .title.smallScreen {
    font-size: 40px;
    line-height: 30px;
  }
  
  .subtitle {
    display: block;
    padding-left: 5rem;
    position: relative;
  }
  
  .subtitle.smallScreen {
    padding-left: 2rem;
  }
  
  .description {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15px;
    max-width: 600px;
    margin-top: 20px;
  }
  
  .description.smallScreen {
    font-size: 14px;
  }
  
  .searchContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 9px 12px 8px 16px;
    gap: 3px;
    align-self: stretch;
    margin-top: 32px;
    width: 100%;
    max-width: 670px;
  }
  
  .imageContainer {
    display: flex;
    width: 550px;
    height: 507.537px;
    padding: 7px 24px 6.537px 23px;
    justify-content: center;
    align-items: center;
  }
  