# Node modules
node_modules/

# dependencies
/.pnp
.pnp.js
.yarn/install-state.gz

# yarn
.yarn
yarn.lock
.pnp.*
.yarnrc.yml

# Next.js build output
.next/
out/

# typescript
*.tsbuildinfo
next-env.d.ts

.vscode/

*/.DS_Store