.topbar {
  width: 100%;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);
}

.toolbar {
  display: flex;
  width: 100%;
  max-width: 1440px;
  height: 100px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.logo {
  color: var(--grey-700, #1F2021);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2; /* 74.5% */
  letter-spacing: -1.28px;
}

.book {
  padding-left: 44px; /* To make the logo book look under t of factor */
  color: var(--grey-700, #1F2021);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  margin-top: 1px;
}

.navList {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navItem {
  color: var(--primary-mainText, #6750A4);
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 173.333% */
  letter-spacing: 0.46px;
  text-decoration: none;
  font-feature-settings: 'clig' off, 'liga' off;
}

.navItem:hover {
  color: #0070f3;
}
